.App {
  display: flex;
  align-items: flex-start;
  max-width: 1280px;
  padding: 40px;
  justify-content: center;
}

.namesList ul {
  list-style: none;
}

.namesList {
  width: 45%;
  margin-right: 5%;
}

.list-item {
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.479);
  transition: all 0.3s linear;
  cursor: pointer;
} 

.selected {
  background-color: blue;
  color: white;
  transition: all 0.3s linear;
}

.userDetails {
  width: 45%;
}
